/* Handle offline font loading */
// $fa-font-path: "../../../node_modules/@fortawesome/fontawesome-free/webfonts" !default;
// $fa-font-display: auto !default;
// @import "../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
// @import "../../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
// @import "../../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
// @import "../../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";

@use "~/@fontsource/b612/scss/mixins" as B612;
@use "~/@fontsource/b612-mono/scss/mixins" as B612Mono;

// Include both normal and bold weights
@include B612Mono.fontFace($fontDir: "../webfonts", $weight: 400);
@include B612Mono.fontFace($fontDir: "../webfonts", $weight: 700);

@include B612.fontFace($fontDir: "../webfonts", $weight: 400);
@include B612.fontFace($fontDir: "../webfonts", $weight: 700);

$fa-font-path: "../webfonts";
@import "~/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~/@fortawesome/fontawesome-free/scss/solid.scss";
@import "~/@fortawesome/fontawesome-free/scss/brands.scss";

// @import "~/@fontsource/lato/index.css";
// @import "~/@fontsource/lato/index.css";

html,
body,
code,
.container {
  font-family: "B612 Mono", monospace;
}

.jumbotron .container {
  font-weight: 700;
}

.challenge-desc, .challenge-hints {
  font-family: "B612", sans-serif;
}
