/* Challenge styles
-------------------------------------------------- */

.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

.challenge-button {
  // colored halo effect
  box-shadow: 0 0 5px 2px var(--challenge-difficulty-color);
}

.challenge-tags > .challenge-tag {
  // use dark text for better contrast
  color: black;

  // apply primary tag color to that tag's badge
  &:nth-child(1) {
    background-color: var(--challenge-difficulty-color);
  }
}

.challenge-solved {
  background-color: #225924 !important;
  opacity: 0.8;
  border: none;
}

.challenge-primary-tag-easy {
  --challenge-difficulty-color: #20c97a;
}
.challenge-primary-tag-medium {
  --challenge-difficulty-color: var(--bs-cyan);
}
.challenge-primary-tag-hard {
  --challenge-difficulty-color: var(--bs-orange);
}
