/* Challenge styles
-------------------------------------------------- */

.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

.challenge-button {
  box-shadow: 3px 3px 3px var(--bs-secondary);
}

.challenge-solved {
  background-color: #37d63e !important;
  opacity: 0.6;
  border: none;
}

.challenge-primary-tag-easy {
  background-color: var(--bs-green);
}
.challenge-primary-tag-medium {
  background-color: var(--bs-cyan);
}
.challenge-primary-tag-hard {
  background-color: var(--bs-orange);
}
