/* Challenge styles
-------------------------------------------------- */

.challenge-desc {
  overflow-wrap: anywhere;

  img {
    max-width: 100%;
  }
}

.challenge-button {
  // colored halo effect
  box-shadow: 0 0 5px 2px var(--challenge-difficulty-color);
}

.challenge-solved {
  background-color: #37d63e !important;
  opacity: 0.6;
  border: none;
}

.challenge-primary-tag-easy {
  --challenge-difficulty-color: #20c97a;
}
.challenge-primary-tag-medium {
  --challenge-difficulty-color: var(--bs-cyan);
}
.challenge-primary-tag-hard {
  --challenge-difficulty-color: var(--bs-orange);
}
